<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
  <h3 class="mb-4">Khóa học của tôi</h3>
  {{#if deletedCount}}
  <a href="/me/trash/courses" class="d-inline-block mb-4">Thùng rác ({{deletedCount}})</a>
  {{/if}}
  <div class="d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-control form-control-sm m-4 checkbox-select-all-options" id="exampleFormControlSelect1"
      name="action" required>
      <option value="">-- Hành động --</option>
      <option value="delete">Xóa</option>
    </select>
    <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực hiện</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          #
        </th>
        <th scope="col">ID</th>
        <th scope="col">
          Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Trình độ
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col">
          Ngày tạo
          {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="defaultCheck1">
          </div>
        </td>
        <th scope="row">{{this._id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal"
            data-id="{{this._id}}">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr class="text-center">
        <td colspan="5">
          Bạn chưa đăng khóa học nào!. <a href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>


<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn xóa khóa học này không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="delete-course-btn">Xóa khóa học</button>
      </div>
    </div>
  </div>
</div>

{{!-- form delete --}}
<form name="delete-course-form" method="POST"></form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const checkboxAll = $("#checkbox-all");
    const containerForm = $("form[name='container-form']");
    const courseItemCheckbox = $('input[name="courseIds[]"]');
    const checkAllSubmitBtn = $(".check-all-submit-btn")

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget)
      const id = button.data('id')
      const deleteForm = document.forms["delete-course-form"];
      const deleteBtn = document.getElementById("delete-course-btn");

      deleteBtn.onclick = function () {
        deleteForm.action = `/courses/${id}?_method=DELETE`;
        deleteForm.submit();
      }
    })


    // Checkbox All changed
    checkboxAll.change(function () {
      const isCheckAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckAll)
      renderCheckAllSubmitBtn();
    })

    // Course item checkbox changed
    courseItemCheckbox.change(function () {
      const isCheckAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
      checkboxAll.prop('checked', isCheckAll)
      renderCheckAllSubmitBtn();
    })

    // Check all submit button clicked
    containerForm.on('submit', function (e) {
      const isSubmitable = !checkAllSubmitBtn.hasClass('disabled');
      if (!isSubmitable) {
        e.preventDefault();
      }
    })

    function renderCheckAllSubmitBtn() {
      const checkedCount = $('input[name="courseIds[]"]:checked').length;
      if (checkedCount > 0) {
        checkAllSubmitBtn.attr('disabled', false);
      } else {
        checkAllSubmitBtn.attr('disabled', true);
      }
    }
  })
</script>